html {
    background-color: #FAF7F2;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  
  .app {
    text-align: center;
    padding: 5%;
  }
  
  .app form .inner-form {
    width: 100%;
    margin-bottom: 17px;
  }
  
  .app form .inner-form .input-field {
    height: 40px;
    width: 100%;
    position: relative;
  }
  
  .app form .inner-form .input-field input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: 1px solid #000;
    background: #fff;
    display: block;
    width: 50%;
    padding: 5px 15px;
    font-size: 18px;
    color: #000;
    border-radius: 26px;
    margin: 0 auto;
    outline: none;
  }
  
  .app form .inner-form .input-field input.placeholder {
    color: #fff;
    font-size: 18px;
  }
  
  .app form .inner-form .input-field input:-moz-placeholder {
    color: #fff;
    font-size: 18px;
  }
  
  .app form .inner-form .input-field input::-webkit-input-placeholder {
    color: #fff;
    font-size: 18px;
  }
  
  
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .app-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .app-title {
    font-size: 1.5em;
  }
  
  .app-intro {
    font-size: large;
  }
  
  .container {
    width: 100%;
    height: 100%;
  }
  
  .card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    margin-bottom: 50px;
    width: 100%;
  }
  
  .card-media {
    float: left;
    position: relative;
    width: 33%;
    margin-bottom: 15px;
  }
  
  .card-media-img {
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    position: relative;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-height: 323px;
  }
  
  .card-media-tag-cover {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  
  .card-media-tag {
    border-radius: 2px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .22);
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .4px;
    padding: 5px 0px;
    text-transform: uppercase;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: #FF982C;
    color: #000;
  }
  
  @media only screen and (max-width: 768px) {
    .card-media {
      width: 50%;
    }
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  